/*

!/.github
!/sketches
!/lib
!/t
!/bin

!.editorconfig
!.gitattributes
!.gitignore
!.mailmap
!.perlcriticrc
!.perltidyrc
!.replyrc

!README.md
!RATIONALE.md
!STABILITY.md

!cpanfile
!cpanfile-for-*
